.boder{
    width: 675px;
    height: 990px;
    background-color:rgb(225, 235, 254);
    transform: translate(450px,50px);

}
.boder1{
    width: 300px;
    height: 990px;
    background-color:rgb(27, 76, 135) ;
}
.boder2{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    transform: translate(40px,30px);
    background-image: url(qg.jpg);
    background-size: 100%;
}
